<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
    &#9776;
  </button>
  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse justify-content-end">
    <ul class="navbar-nav">
      <li class="nav-item" *ngFor="let item of menu" [routerLinkActive]="item.children ? '' :'active'" ngbDropdown>
        <a *ngIf="item.children; else elseBlock" class="nav-link" [id]="[item.name]" ngbDropdownToggle>{{item.name}}
          <div ngbDropdownMenu aria-labelledby="[item.name]" class="dropdown-menu">
            <a *ngFor="let child of item.children" ngbDropdownItem [routerLink]="[child.path]" (click)="isMenuCollapsed = true">
              {{child.name}}
            </a>
          </div>
        </a>
        <ng-template #elseBlock>
          <a class="nav-link" [routerLink]="[item.path]" (click)="checkAbilityToEscape(item.abilityToEscape)">{{item.name}}</a>
        </ng-template>
      </li>
    </ul>
  </div>
</nav>
