<div class="container pl-3 pr-3">
    <div *ngIf = "!isAuthorized">
        <h2>О приложении</h2>
    <section class="mt-sm-5 mb-sm-5">
      <p class="description">
        Здравствуйте, уважаемый посетитель.
      </p>
      <p class="description">
        Для того, чтобы воспользоваться приложением, нужно войти под своим логином и паролем (пункт меню <span
        class="anchor">Enter</span> > <span
        class="anchor">Auth</span>). Логин - Ваш email, пароль - не менее 6 символов.<br>
        Если же Вы не зарегистрированы, то, соответственно, сначала нужно пройти регистрацию (пункт меню <span
        class="anchor">Enter</span> > <span
        class="anchor">Registr</span>), а потом войти под своим логином и паролем.
      </p>
      <p class="description">
        Идея данного приложения - сформировать индивидуальный словарь (который будет постоянно меняться). В данный словарь
        следует добавлять слова (фразы), которые, по какой-то причине, не поддаются быстрому запоминанию. По мере
        запоминания, эти слова из списка можно удалять (бессмысленно хранить в списке слова, которые помнишьтвердо).<br>
        Для удобства пользования, приложение разбито на несколько категорий (пункты меню). На основной вкладке раздел
        неправильные глаголы (<span class="anchor">Irregular verbs</span>) и личный словарь (<span class="anchor">Private vocabulary</span>).
        На вкладке дополнительно (<span class="anchor">Additionally</span>) находятся разделы: глаголы,требующие после
        себя герундий (<span class="anchor">Gerund</span>), глаголы,требующие после себя инфинитив (<span class="anchor">Infinitive</span>),
        раздельные фразовые глаголы (<span class="anchor">Separable</span>), глаголы состояния (<span class="anchor">Stative</span>) и часто употребляемые фразы (<span
        class="anchor">Phrases</span>).<br>
      </p>
      <ul class="description">Формировать список в каждой из категорий можно двумя способами:
        <li>добавлять по одному слову;</li>
        <li>загрузить дефолтный список, а потом отредактировать его;</li>
      </ul>
      <p class="description">
        Ниже расположены основные правила пользования данным приложением.
      </p>
    </section>
    <hr class="mb-sm-5">
    </div>
    <div>
        <section class="mt-sm-5 mb-sm-5">
          <h4>Добавление</h4>
          <p class="description">Добавление нового элемента списка (слова или фразы) - кнопка <span class="btn btn-success btn-sm">Add new</span> . Стоит обратить внимание,
            что при добавлении некоторых элементов (неправильные глаголы, личный словарь),
            поле транскрипция является обязательным для заполнения.
            Если же транскрипция не имеет значения - то в поле ввода можно поместить пробел, "-" или любой другой символ.</p>
          <p class="description">Также следует обратить внимание: при добавлении слова в личный словарь (раздел Private vocabulary) удобно воспользоваться ссылкой
            <mark class="anchor">Convenient resource</mark>. Для этого нужно ввести слово (поле new word), а затем перейти по ссылке. После этого, в открывшейся новой вкладке, можно скопировать американский или английский вариант транскрипции данного слова и его перевод и поместить их в соответствующие поля личного словаря.</p>
          <p class="description">Для того, чтобы вернуться к исходному списку, можно воспользоваться кнопкой <span class="btn btn-danger btn-sm">Return</span> , кнопкой браузера "назад", либо перейти к другому пункту меню.</p>
        </section>
        <hr>
        <section class="mt-sm-5 mb-sm-5">
          <h4>Редактирование и удаление</h4>
          <p class="description">Для редактирования или удаления элемента списка необходимо кликнуть по соответствующей строке таблицы и, после перехода на страницу редактирования, либо отредактировать данные и нажать на кнопку
            <span class="btn btn-success btn-sm">Save</span> , либо, для удаления слова, нажать на кнопку <span class="btn btn-danger btn-sm">Delete</span> .</p>
        </section>
        <hr>
        <section class="mt-sm-5 mb-sm-5">
          <h4>Сортировка списка</h4>
          <p class="description">Сортировать список можно либо по алфавиту (order by alphabet) либо по дате (order by date) - в этом случае вверху списка будут последние добавленные элементы.</p>
        </section>
        <hr>
        <section class="mt-sm-5 mb-sm-5">
          <h4>Поиск (фильтрация) по списку</h4>
          <p class="description">Для фильтрации списка можно пользоваться полем <mark>search</mark>, куда нужно ввести условие фильтрации (первую букву либо начальную часть слова). Для очистки поля поиска нужно использовать кнопку с изображением совка.</p>
        </section>
        <hr>
        <section class="mt-sm-5 mb-sm-5">
          <h4>Удаление списка</h4>
          <p class="description">Удаление списка - кнопка <span class="btn btn-danger btn-sm">Delete list</span> . Есть два варианта: удалить список полностью (<mark>completely</mark>), либо только его часть (<mark>selectively</mark>).</p>
          <p class="description">При выборе варианта удаления <span class="btn btn-info btn-sm">Selectively</span> , необходимо отметить галочками те слова, которые нужно удалить. </p>
        </section>
        <hr>
        <section class="mt-sm-5 mb-sm-5">
          <h4>Загрузка дефолтного списка</h4>
          <p class="description">Если список элементов пуст можно загрузить некий дефолтный список (и при необходимости отредактировать его). Для этого нужно воспользоваться кнопкой  <span class="btn btn-outline-success">Download default list</span></p>
        </section>
      
      </div>
  </div>
